/dist/
# Created by https://www.gitignore.io/api/netbeans

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
nbactions.xml

.idea/
**/.DS_Store


# End of https://www.gitignore.io/api/netbeans
